$lightGray: #f7f7f7;

$lightCharcoalGray: #96999e;

$darkGray: #384355;

$halfOpacity: rgba(0, 0, 0, .67);

$darkRed: #f40e09;

$darkRedHover: #9d0d0a;

$darkGrayHover: #1f2631;

$blue: #009dff;

$lightRed: #e61040;

$lightRedHover: #b4092f;

