h1,
h2,
h3,
h4{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    color: #fff;
}

h2 {
    font-size: 1.5rem;
        font-weight: 100;
}

p,
li,
a,
span {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}